<section class="table-container">
  <table class="product-table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>NIT</th>
        <th>Dirección</th>
        <th>Teléfono</th>
        <th>Email</th>
        <th>Contacto</th>
        <th>Estado</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
     <tr *ngFor="let supplier of pagedSuppliers">
       <td>{{ supplier.name }}</td>
       <td>{{ supplier.nit }}</td>
       <td>{{ supplier.address }}</td>
       <td>{{ supplier.phone }}</td>
       <td>{{ supplier.email }}</td>
       <td>{{ supplier.contactName }}</td>
       <td>
         <span [ngClass]="supplier.status ? 'status-active' : 'status-desactive'">
           {{ supplier.status ? 'ACTIVO' : 'INACTIVO' }}
         </span>
       </td>
       <td class="options-cell" *ngIf="isAdmin || supplier.status">
         <span class="options-icon" (click)="toggleOptions(supplier)">...</span>
         <div class="options-menu" *ngIf="supplier.showOptions && supplier.status">
            <button (click)="edit.emit(supplier)">Editar</button>
            <button *ngIf="isAdmin" (click)="disable.emit(supplier)">Deshabilitar</button>
         </div>
         <div class="options-menu" *ngIf="supplier.showOptions && !supplier.status">
            <button (click)="enableSupplier(supplier)">Habilitar</button>
         </div>
       </td>
      </tr>
    </tbody>
  </table>
</section>
<div class="pagination">
  <button (click)="prevPage()" [disabled]="currentPage === 0">&laquo; Anterior</button>
  <span>Página {{ currentPage + 1 }} de {{ Math.ceil(suppliers.length / pageSize) }}</span>
  <button (click)="nextPage()" [disabled]="(currentPage + 1) * pageSize >= suppliers.length">Siguiente &raquo;</button>
</div>