<aside class="sidebar">
  <h1 class="app-title">Inventory Pro</h1>
  <nav class="sidebar-nav">
    <ul>
      <li>
        <a routerLink="/products" class="nav-item">
          <i class="fa-regular fa-truck"></i>
          <span>Products</span>
        </a>
      </li>
      <li>
        <a routerLink="/suppliers" class="nav-item">
        <i class="fa-regular fa-suitcase"></i>
        <span>Suppliers</span></a>
      </li>
      <li>
        <a routerLink="#" class="nav-item">
        <i class="fa-regular fa-money-bill-1"></i>
        <span>Purchases</span></a>
      </li>
      <li>
        <a routerLink="#" class="nav-item">
        <i class="fa-regular fa-file"></i>
        <span>Reports</span></a>
      </li>
      <li>
        <a routerLink="#" class="nav-item">
        <i class="fa-regular fa-circle-user"></i>
        <span>Users</span></a>
      </li>
    </ul>
  </nav>
</aside>