<div>
<app-sidebar></app-sidebar>
<main>
    <h1>Products</h1>
    <h2>Manage your product inventory and track stock levels</h2>
    <button class="add">+ Add Category</button>
    <button class="add">+ Add Product</button>
    <div class="table-container">
    <table class="product-table">
        <thead>
            <tr>
                <th>Product ID</th>
                <th>Product Name</th>
                <th>Category</th>
                <th>Current Price</th>
                <th>Stock</th>
                <th>Status</th>
                <th></th> </tr>
        </thead>
        <tbody>
            <tr>
                <td>001</td>
                <td>Office Chair Executive</td>
                <td><span class="category-tag">Furniture</span></td>
                <td>$110.00</td>
                <td>45</td>
                <td><span class="status-tag status-active">ACTIVE</span></td>
                <td><span class="options-icon">...</span></td>
            </tr>
            <tr>
                <td>002</td>
                <td>Laptop Stand Adjustable</td>
                <td><span class="category-tag">Electronics</span></td>
                <td>$24.99</td>
                <td><span class="stock-low">5</span></td>
                <td><span class="status-tag status-desactive">DESACTIVE</span></td>
                <td><span class="options-icon">...</span></td>
            </tr>
            <tr>
                <td>003</td>
                <td>Wireless Mouse Ergonomic</td>
                <td><span class="category-tag">Electronics</span></td>
                <td>$8.50</td>
                <td>120</td>
                <td><span class="status-tag status-active">ACTIVE</span></td>
                <td><span class="options-icon">...</span></td>
            </tr>
            <tr>
                <td>004</td>
                <td>Desk Lamp LED</td>
                <td><span class="category-tag">Electronics</span></td>
                <td>$35.00</td>
                <td><span class="stock-out">0</span></td>
                <td><span class="status-tag status-active">ACTIVE</span></td>
                <td><span class="options-icon">...</span></td>
            </tr>
        </tbody>
    </table>
</div>
</main>
</div>